---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <CHI_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1557803103'
      Etag:
      - W/"ca97e557f16d664297840fdfcc48077d"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":169254251,"node_id":"MDEwOlJlcG9zaXRvcnkxNjkyNTQyNTE=","name":"cross_check","full_name":"carriewalsh/cross_check","private":false,"owner":{"login":"carriewalsh","id":43975624,"node_id":"MDQ6VXNlcjQzOTc1NjI0","avatar_url":"https://avatars0.githubusercontent.com/u/43975624?v=4","gravatar_id":"","url":"https://api.github.com/users/carriewalsh","html_url":"https://github.com/carriewalsh","followers_url":"https://api.github.com/users/carriewalsh/followers","following_url":"https://api.github.com/users/carriewalsh/following{/other_user}","gists_url":"https://api.github.com/users/carriewalsh/gists{/gist_id}","starred_url":"https://api.github.com/users/carriewalsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carriewalsh/subscriptions","organizations_url":"https://api.github.com/users/carriewalsh/orgs","repos_url":"https://api.github.com/users/carriewalsh/repos","events_url":"https://api.github.com/users/carriewalsh/events{/privacy}","received_events_url":"https://api.github.com/users/carriewalsh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/carriewalsh/cross_check","description":null,"fork":true,"url":"https://api.github.com/repos/carriewalsh/cross_check","forks_url":"https://api.github.com/repos/carriewalsh/cross_check/forks","keys_url":"https://api.github.com/repos/carriewalsh/cross_check/keys{/key_id}","collaborators_url":"https://api.github.com/repos/carriewalsh/cross_check/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/carriewalsh/cross_check/teams","hooks_url":"https://api.github.com/repos/carriewalsh/cross_check/hooks","issue_events_url":"https://api.github.com/repos/carriewalsh/cross_check/issues/events{/number}","events_url":"https://api.github.com/repos/carriewalsh/cross_check/events","assignees_url":"https://api.github.com/repos/carriewalsh/cross_check/assignees{/user}","branches_url":"https://api.github.com/repos/carriewalsh/cross_check/branches{/branch}","tags_url":"https://api.github.com/repos/carriewalsh/cross_check/tags","blobs_url":"https://api.github.com/repos/carriewalsh/cross_check/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/carriewalsh/cross_check/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/carriewalsh/cross_check/git/refs{/sha}","trees_url":"https://api.github.com/repos/carriewalsh/cross_check/git/trees{/sha}","statuses_url":"https://api.github.com/repos/carriewalsh/cross_check/statuses/{sha}","languages_url":"https://api.github.com/repos/carriewalsh/cross_check/languages","stargazers_url":"https://api.github.com/repos/carriewalsh/cross_check/stargazers","contributors_url":"https://api.github.com/repos/carriewalsh/cross_check/contributors","subscribers_url":"https://api.github.com/repos/carriewalsh/cross_check/subscribers","subscription_url":"https://api.github.com/repos/carriewalsh/cross_check/subscription","commits_url":"https://api.github.com/repos/carriewalsh/cross_check/commits{/sha}","git_commits_url":"https://api.github.com/repos/carriewalsh/cross_check/git/commits{/sha}","comments_url":"https://api.github.com/repos/carriewalsh/cross_check/comments{/number}","issue_comment_url":"https://api.github.com/repos/carriewalsh/cross_check/issues/comments{/number}","contents_url":"https://api.github.com/repos/carriewalsh/cross_check/contents/{+path}","compare_url":"https://api.github.com/repos/carriewalsh/cross_check/compare/{base}...{head}","merges_url":"https://api.github.com/repos/carriewalsh/cross_check/merges","archive_url":"https://api.github.com/repos/carriewalsh/cross_check/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/carriewalsh/cross_check/downloads","issues_url":"https://api.github.com/repos/carriewalsh/cross_check/issues{/number}","pulls_url":"https://api.github.com/repos/carriewalsh/cross_check/pulls{/number}","milestones_url":"https://api.github.com/repos/carriewalsh/cross_check/milestones{/number}","notifications_url":"https://api.github.com/repos/carriewalsh/cross_check/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/carriewalsh/cross_check/labels{/name}","releases_url":"https://api.github.com/repos/carriewalsh/cross_check/releases{/id}","deployments_url":"https://api.github.com/repos/carriewalsh/cross_check/deployments","created_at":"2019-02-05T14:29:53Z","updated_at":"2019-02-21T04:45:02Z","pushed_at":"2019-02-21T04:45:00Z","git_url":"git://github.com/carriewalsh/cross_check.git","ssh_url":"git@github.com:carriewalsh/cross_check.git","clone_url":"https://github.com/carriewalsh/cross_check.git","svn_url":"https://github.com/carriewalsh/cross_check","homepage":null,"size":541,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":175865474,"node_id":"MDEwOlJlcG9zaXRvcnkxNzU4NjU0NzQ=","name":"2win_playlist","full_name":"chitasan/2win_playlist","private":false,"owner":{"login":"chitasan","id":44073660,"node_id":"MDQ6VXNlcjQ0MDczNjYw","avatar_url":"https://avatars0.githubusercontent.com/u/44073660?v=4","gravatar_id":"","url":"https://api.github.com/users/chitasan","html_url":"https://github.com/chitasan","followers_url":"https://api.github.com/users/chitasan/followers","following_url":"https://api.github.com/us[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <CHI_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1557803103'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <CHI_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1557803103'
      Etag:
      -[...]
