---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 4b322bd9000db4338d619f6f49594fad4cf9df96
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1557337882'
      Etag:
      - W/"570995500dfd980effa7e8797b668d54"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":185274484,"node_id":"MDEwOlJlcG9zaXRvcnkxODUyNzQ0ODQ=","name":"brownfield-of-dreams","full_name":"chitasan/brownfield-of-dreams","private":false,"owner":{"login":"chitasan","id":44073660,"node_id":"MDQ6VXNlcjQ0MDczNjYw","avatar_url":"https://avatars0.githubusercontent.com/u/44073660?v=4","gravatar_id":"","url":"https://api.github.com/users/chitasan","html_url":"https://github.com/chitasan","followers_url":"https://api.github.com/users/chitasan/followers","following_url":"https://api.github.com/users/chitasan/following{/other_user}","gists_url":"https://api.github.com/users/chitasan/gists{/gist_id}","starred_url":"https://api.github.com/users/chitasan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chitasan/subscriptions","organizations_url":"https://api.github.com/users/chitasan/orgs","repos_url":"https://api.github.com/users/chitasan/repos","events_url":"https://api.github.com/users/chitasan/events{/privacy}","received_events_url":"https://api.github.com/users/chitasan/received_events","type":"User","site_admin":false},"html_url":"https://github.com/chitasan/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/chitasan/brownfield-of-dreams","forks_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/chitasan/brownfield-of-dreams/deployments","created_at":"2019-05-06T21:27:52Z","updated_at":"2019-05-06T23:02:33Z","pushed_at":"2019-05-07T21:55:56Z","git_url":"git://github.com/chitasan/brownfield-of-dreams.git","ssh_url":"git@github.com:chitasan/brownfield-of-dreams.git","clone_url":"https://github.com/chitasan/brownfield-of-dreams.git","svn_url":"https://github.com/chitasan/brownfield-of-dreams","homepage":"","size":401,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":19,"license":null,"forks":0,"open_issues":19,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":176352114,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzNTIxMTQ=","name":"BookClub","full_name":"davehardy632/BookClub","private":false,"owner":{"login":"davehardy632","id":42919604,"node_id":"MDQ6VXNlcjQyOTE5NjA0","avatar_url":"https://avatars2.githubusercontent.com/u/42919604?v=4","gravatar_id":"","url":"https://api.github.com/users/davehardy632","html_url":"https://github.com/davehardy632","followers_url":"https://api.github.com/users/davehardy632/followers","following_url":"https://api.git[...]
